.EventDetailed {
    width: 100%;
}

.EventDetailedContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.EventDetailedBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    background-color: #f9f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.EventDetailedBox h2#title {
    border-bottom: 1px solid #eeeeee;
    font-weight: bold;
    padding-bottom: 5px;
    color: #818181;
}

.EventDetailedBox table {
    border: 1px solid #eeeeee;
}

.EventDetailedBox th {
    padding: 10px;
}
.EventDetailedBox td {
    padding: 10px;
    color: #818181;
}
.EventDetailedBox table tbody tr:nth-child(odd) {
    background: #eeeeee;
}

.EventDetailedBox input {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.EventDetailedBox textarea {
    padding: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    resize: none;
    width: 500px;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .EventDetailedBox {
        width: 100%;
    }
}