.märke {
    background-color: #f9f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    /* max-width: 300px;
    min-width: 300px; */
    width: 300px;
    /* margin: auto; */
    margin: 10px;
}

.märke img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.märke {
    cursor: pointer;
}

.märke .head {
    display: flex;
    flex-direction: row;
}

.märke .head .date {
    font-weight: 300;
    background: #e83d84;
    color: #fff;
    min-width: 50%;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 0.9;
    line-height: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/* .märke .head .produced {
    font-weight: 300;
    background: #E5C100;
    min-width: 33.33%;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 0.9;
    line-height: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
} */

.märke .head .price {
    font-weight: 300;
    /* background: #278032;
    color: #fff; */
    background: #E5C100;
    min-width: 50%;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 0.9;
    line-height: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.märke .title {
    background-color: #f9f9f9f9;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.märke .desc {
    text-align: center;
    padding: 15px;
    border-top: solid 1px #eee;
    color: gray;
}

.märke .title h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0 10px 0;
}

.märke .tags {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 10px 0 10px 0;
    color: gray;
    border-top: solid 1px #eee;
    height: 100%;
}

.tag {
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    /* width: 100px; */
    text-align: center;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tagClickable {
    background-color: #d1d1d1f9;
    border-radius: 20px;
    /* max-width: 200px; */
    padding: 10px;
    white-space: nowrap;
}

.tagClickable:hover {
    background-color: #a7a7a7f9;
    cursor: pointer;
}

.tagClickable span {
    padding-right: 10px;
}

.tagClickable img {
    width: 15px;
    height: 15px;
    opacity: 0.6;
    user-select: none;
}

div > .märken {
    
}

.märken {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.settings {
    background-color: #f9f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.settings .clearImg {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: relative;
    left: -30px;
    opacity: 0.7;
}

.settings .clearImg:hover {
    cursor: pointer;
}

.settings .tagQueryResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px 100px 30px 100px;
}

.settings .tagQueryResult .tagClickable {
    margin: 5px;
    user-select: none;
}

.settings .sök input {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.settings .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.settings .filter input {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.settings button {
    background-color: #E5C100;
    margin: 10px;
}

@media screen and (max-width: 600px) {

    .märke {
        width: 90%;
        margin-top: 10px;
    }

    .märke img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .settings {
        padding-bottom: 10px;
        border-bottom: solid 1px #eee;
        white-space: nowrap;
    }

    .settings .sök {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .settings .sök input {
        width: 80%;
    }


    .settings .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .settings .buttons button {
        margin: 5px;
    }

    .settings .filter {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .settings .filter input {
        width: 80%;
    }

    .settings .tagQueryResult {
        padding: 10px;
    }

    .märke .title h2 {
        font-size: 1.6em;
    }

    .tag {
        padding: 10px 15px 10px 15px;
        font-size: 1.1em;
    }

    .märke .head .date {
        font-weight: 400;
        font-size: 1.2em;
    }
    .märke .head .price {
        font-weight: 400;
        font-size: 1.2em;
    }
}

/* @media screen and (max-width: 900px) {

} */