.MarkeInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.MarkeInfo .patch {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.MarkeInfo .patch .patchbody {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.MarkeInfo .patch .patchimg img {
    width: 300px;
}

.MarkeInfo .patch .patchimg .files {
    margin-top: 5px;
    padding-bottom: 10px;
}

.MarkeInfo .patch .patchimg .file {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.MarkeInfo .patch .patchimg .file a:hover {
    cursor: pointer;
}

.MarkeInfo .patch .patchimg .file i {
    font-size: 2em;
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.MarkeInfo .patch .patchcontent {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    word-break: break-word;
}

.MarkeInfo .patch .patchimg .adminedit {
    background-color: #E5C100;
    max-height: 42px;
    word-break: normal;
    margin-top: 10px;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .name h1 {
    margin: 0;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .meta {
    color: rgba(0, 0, 0, 0.6);
}

.MarkeInfo .patch .patchcontent .meta i.fa-circle {
    font-size: 0.5em;
    position: relative;
    top: -2px;
    padding: 0 5px 0 5px;
    color: rgba(0, 0, 0, 0.3);
}

.MarkeInfo .patch .patchcontent .description {
    margin: 25px 0 25px 0;
    white-space: pre-wrap;
    /* word-break: break-word; */
}

.MarkeInfo .patch .patchcontent .tags {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MarkeInfo .patch .patchadmincontent {
    display: flex;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}



.table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.MarkeInfo .patch .patchadmincontent .col.files{
    width: 30%;
}

.MarkeInfo .patch .patchadmincontent .col {
    width: 100%;
}

.MarkeInfo .patch .patchadmincontent .col .file {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
}


@media screen and (max-width: 900px) {

    .MarkeInfo {
        margin-top: 10px;
    }

    .MarkeInfo .patch {
        width: 95%;
    }

    .MarkeInfo .patch .patchbody {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .MarkeInfo .patch .patchimg,
    .MarkeInfo .patch .patchimg img {
        width: 100%;
    }

    .MarkeInfo .patch .patchcontent {
        margin: 0;
    }

    .MarkeInfo .patch .patchcontent .name {
        display: flex;
        flex-direction: column;
        word-break: break-word;
    }

    .MarkeInfo .patch .patchcontent .tags {
        justify-content: center;
        align-items: center;
    }

    .MarkeInfo .patch .patchadmincontent {
        display: none;
    }

    button.adminedit {
        display: none;
    }
}