.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Home .Header {
    padding-right: 0;
    width: 100%;
}

.Home .Body {
    background-color: white;
    /* width: 80%; */
    max-width: 1200px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    width: 100%;
}

.row .col.title {
    width: 100%;
}

.row .col {
    margin: 10px;
    width: 33.33%;
}

.row .col h2 {
    font-size: 1.5em;
}

@media screen and (max-width: 700px) {
    .Home .Body {
        width: 100%;
    }

    .row {
        max-width: 100%;
        flex-direction: column;
    }

    .row .col.title {
        width: 100%;
        margin: 0;
    }

    .row .col {
        margin: 10px;
        width: 100%;
    }
}