.ExpandablEvent {
    margin: 5px;
    user-select: none;
}

.ExpandablEvent .row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #eee;
}

.ExpandablEvent .row .col {
    margin: 10px;
    margin-right: auto;
}

.ExpandablEvent .row .col.title {
    width: 45%;
}

.ExpandablEvent .body {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #eee;
}

.ExpandablEvent .body .bodyRow {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ExpandablEvent .body .bodyRow .radio {
    margin-left: 10px;
}

.ExpandablEvent .body .bodyRow button {
    width: 100px;
}

.ExpandablEvent .Timeline {
    margin-bottom: 10px;
}

.ExpandablEvent .ApproveWithChanges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ExpandablEvent .ApproveWithChanges > *{
    margin: 0 5px 5px 0;
}

.ExpandablEvent textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 150px;
}

@media screen and (max-width: 600px) {

    .ExpandablEvent .row .col.title {
        width: auto;
        word-break: break-all;
    }

    .ExpandablEvent textarea {
        width: 100%;
    }
}