.AlertComponent {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
}

.AlertComponent.success {
    border: solid 1px #C2E6CB;
    background-color: #D4EDDA;
    color: #155724;
}

.AlertComponent.error {
    border: solid 1px #f9c6cb;
    border-radius: 3px;
    background-color: #fbd7da;
    color: #771c26;
}
