.MarkeInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.MarkeInfo .patch {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.MarkeInfo .patch .patchbody {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.MarkeInfo .patch .patchimg img {
    /* width: 300px; */
    max-width: 400px;
    max-height: 400px;
    cursor: pointer;
}

.MarkeInfo .patch .patchimg img:hover {
    transform: scale(1.01);
}

.MarkeInfo .patch .patchimg .files {
    margin-top: 5px;
    padding-bottom: 10px;
}

.MarkeInfo .patch .patchimg .file {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.MarkeInfo .patch .patchimg .file a:hover {
    cursor: pointer;
}

.MarkeInfo .patch .patchimg .file i {
    font-size: 2em;
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.MarkeInfo .patch .patchcontent {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    word-break: break-word;
}

.MarkeInfo .patch .patchimg .adminedit {
    background-color: #E5C100;
    max-height: 42px;
    word-break: normal;
    margin-top: 10px;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .name h1 {
    margin: 0;
    width: 100%;
}

.MarkeInfo .patch .patchcontent .meta {
    color: rgba(0, 0, 0, 0.6);
}

.MarkeInfo .patch .patchcontent .meta i.fa-circle {
    font-size: 0.5em;
    position: relative;
    top: -2px;
    padding: 0 5px 0 5px;
    color: rgba(0, 0, 0, 0.3);
}

.MarkeInfo .patch .patchcontent .meta #cName:not(:last-child)::after {
    content: ", ";
}

.MarkeInfo .patch .patchcontent .meta #cName:first-child::before {
    content: " ";
}

.MarkeInfo .patch .patchcontent .description {
    margin: 25px 0 25px 0;
    white-space: pre-wrap;
}

.MarkeInfo .patch .patchcontent .tags,
.MarkeInfo .patch .patchcontent .creators {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1px;
}

.MarkeInfo .patch .patchadmincontent {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.MarkeInfo .patch .patchadmincontent .row .col.files{
    max-width: 430px;
}

.MarkeInfo .patch .patchadmincontent .row .col {
    width: 100%;
}

.MarkeInfo .patch .patchadmincontent .row .colcol {
    padding: 10px 0 10px 0;
}

.MarkeInfo .patch .patchadmincontent .row .col .file {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
}

.MarkeInfo .patch .patchadmincontent .row.admin{
    border-top: solid 1px #afafaf4f;
}

.MarkeInfo .patch .patchadmincontent .comment {
    white-space: pre-wrap;
}


@media screen and (max-width: 900px) {

    .MarkeInfo {
        margin-top: 10px;
    }

    .MarkeInfo .patch {
        width: 100%;
        padding: 20px;
    }

    .MarkeInfo .patch .patchbody {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .MarkeInfo .patch .patchimg img {
        max-width: 100%;
        max-height: 100%;
    }

    .MarkeInfo .patch .patchcontent {
        margin: 0;
    }

    .MarkeInfo .patch .patchcontent .name {
        display: flex;
        flex-direction: column;
        word-break: break-word;
    }

    .MarkeInfo .patch .patchcontent .tags {
        justify-content: center;
        align-items: center;
    }

    .MarkeInfo .patch .patchadmincontent .row .colcol,
    .MarkeInfo .patch .patchadmincontent .row .col {
        width: 100%;
    }
}