.Admin .Header,
.HeaderBar {
    min-height: 96px;
    background: #ea4d8f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 50px; */
}

.Admin .Header h2,
.HeaderBar h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 900;
}

.Admin .Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Admin > .AlertComponent {
    width: 90%;
    margin: 10px;
}

.AdminCard {
    background-color: #f9f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    min-height: 200px;
    margin: 10px;
    padding: 25px;
}

.AdminCard .Title h1 {
    font-weight: bold;
}

.AdminCard .Description {
    margin: 20px 10px 20px 10px;
}

.AdminCard a {
    background-color: #EC5F99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.Admin .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Admin .Form h3 {
    font-size: 1.4em;
}

.Admin .Form h4 {
    color: #757575;
    font-size: 1em;
    font-weight: 300;
    margin-top: -3px;
}

.Admin .Form  h3,
.Admin .Form  h4 {
    /* padding-left: 4%; */
    text-align: center;
}

.Admin .Form form {
    /* margin: 50px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #f9f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.Admin .Form input {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.Admin .Form textarea {
    padding: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    resize: none;
    width: 500px;
    height: 150px;

}

.Admin .Form .file-input{
    width: 90%;
}

.Admin .Form .file-input label {
    width: 100%;
    text-align: center;
    border: dashed 2px rgb(230, 220, 220);
    padding: 10px;
}

.Admin .Form .file-input img {
    height: 130px;
    max-width: 100%;
    user-select: none;
}

.Admin .Form .file-input .preupload {
    cursor: pointer;
}

.Admin .Form .file-input .preupload i.fa-upload {
    opacity: 0.3;
    font-size: 3.1em;
    color: black;
}

.fa-spinner {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.Admin .Form .file-input .preview span.filename {
    font-weight: 300;
}

.Admin .Form .file-input .preview span::before {
    content: " ";
}

.Admin .Form .fa-times {
    color: red;
    cursor: pointer;
}

.Admin .Form .file-input .preview i.fa-times {
    /* color: red; */
    opacity: 1;
    position: relative;
    left: 49%;
}

.Admin .Form .file-input .preupload .title,
.Admin .Form .file-input .preview span {
    color: black;
}

.Admin .Form .file-input .preupload p {
    color: #757575;
    margin: 0;
}

.Admin .Form .file-input input[type="file"] {
    display: none;
}

.Admin .Form .file-input .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: "\f00d";
}

.Admin .Form .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Admin .Form .tags span.notags {
    color: #757575;
}

.Admin .Form .tags .tagClickable {
    margin: 5px;
}

.Admin .Form .BottomButtons button {
    background-color: #E5C100;
    margin: 10px;
}

.Admin .Form .BottomButtons button.rensa {
    background-color: #ddd;
}

.Admin form input#name {
    margin: 10px;
}

.Admin form .price {
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

.Admin form .creators {
    width: 100%;
}

.Admin form .creators .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex-wrap: nowrap;
    width: 100%;
}
.Admin form .creators .add input {
    width: 30%;
}

.Admin form .creators .creator {
    text-align: center;
    padding: 5px;
}

.Admin form .creators button {
    background-color: #E5C100;
}

.Admin form .creators .fa-times::before,
.Admin form .orders .fa-times::before {
    padding-left: 10px;
}

.Admin form .creators .fa-times,
.Admin form .orders .fa-times {
    font-size: 1.5em;
    position: relative;
    top: 4px;
}

.Admin form .orders .input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Admin form .orders input {
    width: 30%;
}

.Admin form .orders button {
    background-color: #E5C100;
}

.Admin form .orders .order {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.Admin .Tags {
    display: flex;
    flex-direction: row;
}

.Admin .Tags .bar {
    width: 30%;
    overflow: auto;
    padding-top: 5px;
    background-color: #f9f9f9f9;
    text-align: center;
    /* font-size: 0.9em; */
}

.Admin .Tags .bar .sök input {
    width: 95%;
    padding: 10px;
    height: 50px;
    margin-bottom: 5px;
}

.Admin .Tags .bar .sök {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 5px; */
}

.Admin .Tags .bar button {
    width: 95%;
    margin-bottom: 5px;
    cursor: pointer;
}

.Admin .Tags .bar button#nytagg {
    background-color: #E5C100;
}

.Admin .Tags .bar .tags .tagClickable {
    margin: 5px;
    font-size: 0.9em;
}

.Admin .Tags .content {
    width: 100%;
    /* padding: 30px; */
}

.Admin .Tags .content > div {
    transition: none !important;
}

.Admin .Tags .content .notag {
    padding: 50px;
}

.Admin .Tags .content .edittagcard {
    background-color: #f9f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 20px;
}

.Admin .Tags .content form > div {
    margin: 20px 20px 20px 0;
}

.Admin .Tags .content .preview {
    max-width: 100%;
}

.Admin .Tags .content .preview .tagClickable {
    width: 50%;
    text-align: center;
    cursor: auto;
}

.Admin .Tags .content input#text,
.Admin .Tags .content input#hoverText {
    height: 50px;
    width: 300px;
    padding: 10px;
}

.Admin .Tags .content input {
    margin-left: 10px;
}

.Admin .Tags .content .buttons button{
    margin: 10px;
}

.Admin .Tags .content .buttons button#save {
    background-color: #E5C100;
}

.Admin .Tags .content .buttons i.fa-trash {
    margin-left: 10px;
    font-size: 2em;
    position: relative;
    top: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}

.Admin .Tags .content .buttons i.fa-trash:hover {
    color: rgb(0,0,0,0.8)
}

.Admin .Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Admin .Body .Box {
    width: 80%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 10px;
}

.Admin .Body .Box .tabs {
    user-select: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Admin .Body .Box .tabs .tab {
    margin: 10px 0 10px 0;
    cursor: pointer;
    padding: 10px 10px 0 10px;
    border-bottom: solid 4px #ea4d8e00;
}

.Admin .Body .Box .tabs .tab.selected {
    background-color: #e6e6e6;
    border-bottom: solid 4px #ea4d8f;
}

.Admin .Body .Box .tabs .tab:hover {
    background-color: #e6e6e6;
    border-bottom: solid 4px #ea4d8f;
}

.Admin .Body .Box .tabs .tab h4 {
    font-weight: 700;
}

.Admin .Body .Box .Filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Admin .Body .Box .Filter button {
    margin: 10px;
}

.Admin .Body .Box input {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.Admin .Body .Box select {
    border: none;
    width: 150px;
    padding: 14px 0 14px 0;
    background-color: #fff;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .Admin .Form form {
        width: 100%;
    }

    .Admin .Form form .file-input {
        width: 100%;
    }

    .Admin .Form form #name {
        width: 100%;
    }

    .Admin .Form form #description {
        width: 100%;
    }

    .Admin .Form form .date,
    .Admin .Form form .date input {
        width: 100%;
    }

    .Admin .Form form .price,
    .Admin .Form form .price input {
        width: 100%;
    }

    .Admin .Form form .creators {
        width: 100%;
    }

    .Admin .Form form .creators button {
        font-size: 1em;
        width: 30%;
    }

    .Admin form .creators .add input {
        width: 35%;
    }

    .Admin .Header {
        display: flex;
        flex-direction: column;
    }

    .Admin .Tags {
        display: flex;
        flex-direction: column;
    }

    .Admin .Tags .bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .Admin .Tags .bar .sök {
        width: 100%;
    }

    .Admin .Tags .bar button {
        width: 956;
    }

    .Admin .Tags .bar .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .Admin .Tags .content {
        width: 100%;
    }

    .Admin .Tags .content form > div {
        margin: 20px;
    }

    .Admin .Tags .content .notag {
        text-align: center;
    }

    .Admin .Tags .content .edittagcard .preview {
        text-align: center;
    }

    .Admin .Tags .content .edittagcard .tagClickable {
        width: 100%;
        text-align: center;
    }

    .Admin .Tags .content input {
        margin: 0;
    }

    .Admin .Tags .content input#text,
    .Admin .Tags .content input#hoverText {
        width: 100%;
    }

    .Admin .Tags .content .edittagcard {
        margin: 15px;
    }

    .Admin .Tags .content .edittagcard .color span,
    .Admin .Tags .content .edittagcard .bgcolor span{
        margin-right: 15px;
    }

    .Admin .Tags .content .edittagcard .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Admin .Tags .content .edittagcard .buttons button {
        margin: 5px;
    }

    .Admin .Tags .content .edittagcard .buttons i {
        text-align: center;
    }

    .Admin .Body .Box {
        width: 100%;
    }

}

@media screen and (max-width: 1000px) and (min-width: 601px) {
    .Admin .Form form {
        width: 90%;
    }

    .Admin .Tags {
        display: flex;
        flex-direction: column;
    }

    .Admin .Tags .bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .Admin .Tags .bar .sök {
        width: 100%;
    }

    .Admin .Tags .bar button {
        width: 956;
    }

    .Admin .Tags .bar .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .Admin .Tags .content {
        width: 100%;
    }

    .Admin .Tags .content form > div {
        margin: 20px;
    }

    .Admin .Tags .content .notag {
        text-align: center;
    }

    .Admin .Tags .content .edittagcard .preview {
        text-align: center;
    }

    .Admin .Tags .content .edittagcard .tagClickable {
        width: 100%;
        text-align: center;
    }

    .Admin .Tags .content input {
        margin: 0;
    }

    .Admin .Tags .content input#text,
    .Admin .Tags .content input#hoverText {
        width: 100%;
    }

    .Admin .Tags .content .edittagcard {
        margin: 20px;
    }

    .Admin .Tags .content .edittagcard .color span,
    .Admin .Tags .content .edittagcard .bgcolor span{
        margin-right: 15px;
    }

    .Admin .Tags .content .edittagcard .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Admin .Tags .content .edittagcard .buttons button {
        margin: 5px;
    }

    .Admin .Tags .content .edittagcard .buttons i {
        text-align: center;
    }

    .Admin .Body .Box {
        width: 100%;
    }
}