.Entry .fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Entry input[type=number] {
    width: 80px !important;
}

.Entry input[type=date] {
    width: 180px !important;
}

.Entry input[type=text] {
    width: 200px !important;
}

.Entry i.fa-trash {
    font-size: 2em;
    padding: 10px;
}